#include <zephyr/dt-bindings/adc/adc.h>
#include <espressif/esp32.dtsi>

/{
	aliases {
		uart2 = &uart2; 
  	};
}; 

&uart2 {
	current-speed = <9600>;
	status = "okay";
	pinctrl-0 = <&uart2_default>;
	pinctrl-names = "default";
};