#include <zephyr/dt-bindings/adc/adc.h>
#include <espressif/esp32.dtsi>

/{
	aliases {
		uart2 = &uart2; 
  	};
}; 

&uart0 {
    compatible = "uart-esp32";
    status = "okay";
};

&uart2 {
	compatible = "uart-esp32";
	status = "okay";
	current-speed = <9600>;
	pinctrl-0 = <&uart2_default>;
	pinctrl-names = "default";
};